/* UTILITY CLASSES */
.orange { color: #f78d03; }
.red { color: #a31818; }
.white { color: #fff; } 
.gray { color: #444; }

.bg-white { background-color: #fff; }
.bg-gray { background-color: #ededed; }

.clickable { cursor: pointer; }
.spacer { padding: 5px; }

/* NAVBAR OVERRIDE */
.navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.432);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.432);
}

.home-text {
    font-size: 18px;
}

/* PROFILE */
.profile_img_rounded { border-radius: 50%; }
